*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
--------------------------------------
*/
:root{
    --primaryColor:#ffffff;
    --secondaryColor: #dff6ff;
    --text-color: rgb(11, 33, 47 , 1);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--primaryColor);
}
.nav--open{
    transform: translateX(0) !important ;
}
.header{
    background-color: var(--secondaryColor);
    position: fixed;
    width: 100%;
    
    
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80px;
    padding: 0 30px;
}
.logo{
    
}
.nav{
    transition: all 0.3s ease-in-out ;
}
.nav_list{
    display: flex;
    column-gap: 60px;
    
}
.nav_item a{
    font-size: 1.3rem;
}
.nav_link{
    color:rgb(11, 33, 47 , 0.7);
    font-size: 16px;
    transition: all 0.7s;
}
.nav_link:hover, .nav_link:focus{
    color: #8d778a;
}
.harmburger{
    display: none;
    cursor: pointer;
    
}
.bar{
    height: 2px;
    width: 27px;
    background-color:var(--text-color);
    margin: 5px 0;
    opacity: 0.8;

}
.home{
    background-image:url(img/hero.jpg);
    background-size: cover;
    height: 100vh;
}
.home_content{
    display: block;
    padding-top: 40vh;
    margin-left: 5rem;
    color: rgb(11, 33, 47 , 1);
    font-size: 2.5rem;
}
span{
   color:#8d778a;
 
}
 button{
    background: var(--secondaryColor);
    color: var(--text-color);
    min-width: 9rem;
    min-height: 2.5rem;
    font-size: 1.2rem;
    
}
button:hover{
    cursor: pointer;
    background:transparent;
    transform: scale(1.05);
    
}
.services{
    height: 100vh;
}
.services_content{
    
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-size: large;
    background-color:#f4f4f4;
    padding-top: 8rem;
    color: var(--text-color);
    
 }

.background_images{
     height: 80vh;
     width: 60%;   
}
.services_cards{
    width: 100%;
}
.services_cards h4{
    text-align:center;
    padding-bottom: 2rem;
    font-size: large;
}

.card_container{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
}

.services_contact button{
  margin-left:26vw;
  margin-top: 1rem;
}

.card{
    height: 60%;
    width: 60%;
    margin: 2rem;
    margin-bottom: 0;
    margin-top: 0;
   
}
.card img{
    width: 100%;
    height: auto;
}
.card h5{
    text-align: center;
    margin-top: 1rem;
    
}
.card p{
    padding: 0.5rem;
}

.icon_list{
    padding-top: 5%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
   
}
.fa {
    
    text-decoration: none;
    padding-left: 60px;
    
  }
  
.fa-facebook {
    color:#3B5998;
  }
.fa-whatsapp{
      color:#00b489;
  }
  
.fa-envelope
 {     
     color:#8698a7;
 }
.about{
    background-color:#f9f6fd;
    height: 100vh;
    padding: 100px;
    color:var(--text-color);

}
.about_content{
   display: flex;
   justify-content:space-between;
 }
 .about_info{
    width: 70%;
    padding-top: 5rem;
 }
 .about_info h2{
    padding-bottom: 20px;
    text-align: center;
    font-size: 200%;
    
 }
 .about_description{
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
 }
.about_picture img{
    width:450px;
    box-shadow:  1px 1px 1px #00b489;
    margin-right: 9rem;
}

.about_cards{
    width:40%;
    box-shadow:1px 1px 1px #90a6b8;
    padding: 10px;
    
}

.about_cards h3{
    padding: 10px;
    background-color:var(--secondaryColor);
}
.about_cards p{
    padding: 10px;
    font-size: large;
}
.about_cards p span{
    color:#cc9793;
}

.testimonials {
  padding: 100px 0;
  color: var(--text-color);
  background-color: var(--secondaryColor);
}
.testimonials h2 {
  margin-bottom: 20px;
  text-align: center;
}
.testimonials .card {
  transition: 0.5s;
  margin-top: 60px;
  width: 30%;
  min-height: 40%;
  color:var(--text-color);
  box-shadow:1px 1px 1px #90a6b8;
}
.testimonials .card i {
  font-size: 20px;  
  padding-bottom: 20px;
  color:#3B5998;
}

.blog{
    background: var(--primaryColor);
    height: 80vh;
    color: var(--text-color);
    font-size: large;
}

.blog .coming_soon_content{
    text-align: center;
    padding-top: 100px;
}
.blog .coming_soon_content h2 ,p{
    padding-bottom: 10px;
}

#mc_embed_signup{
    background:#fff; 
    font:14px Helvetica,Arial,sans-serif; 
    width: 20%;
    justify-content: center;
    margin-left: 40%;
 }
 .clear .foot .button{
    color: var(--secondaryColor);
 }
@media(max-width:650px)
{
    .nav{
        position: fixed;
        width: 100%;
        left:0;
        top:60px;
        background-color: transparent;
        padding: 5px 0 10px;
        transform: translateX(100%);
        border: 5px  double #dff6ff;

    }
    .home{
    background-size: cover;
    
    }
    .header{
        background-color: #dff6ff;
    }
    .nav_list{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .harmburger{
        display: block;
    }
}